body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: #000000;
}

.header {
  font-size: 60px;
  text-align: center;
  padding: 30px 0 20px 0;
}

.header-img {
  display: block;
  margin: 4px auto;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style-type: none;
  margin: 0 auto;
  padding: 0 0 20px 0;
  width: 828px;
}

.menu-item {
  padding: 0 10px;
}

.menu-link {
  --fill-color: #FDF252;
  position: relative;
  display: block;
  padding: 4px 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--fill-color);
  background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
  color: transparent;
  background-clip: text;
  transition: 0.3s linear;
}

.menu-link:hover {
  background-size: 100%;
}

/* Taken from https://github.com/tholman/github-corners */
.github-corner:hover 
.octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%, 100% {
    transform:rotate(0)
  }
  20%, 60% {
    transform:rotate(-25deg)
  }
  40%, 80% {
    transform:rotate(10deg)
  }
}

@media (max-width:500px){
  .github-corner:hover .octo-arm {
    animation:none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}

.octo-transform {
  transform-origin: 130px 106px;
}


.entries-wrapper {
  margin: 0 auto;
  width: 830px;
}

.entries {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  gap: 15px 10px;
}

.entry {
  position: relative;
  background-color: #F8F8F8;
  border-radius: 14px;
  padding: 10px;
  height: 410px;
  background: repeating-linear-gradient(
	45deg,
	#efeff0,
	#efeff0 20px,
	#F8F8F8 20px,
	#F8F8F8 40px
  );
}

.entry-header {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0 10px 0;
}

.entry-info {
  position: relative;
  z-index: 1;
  font-size: 12px;
  padding: 4px 0;
  margin: 6px 0;
  background-color: #efeff0;
  border-bottom: #d4d4d4 1px solid;
}

.entry-label {
  font-weight: bold;
}

.entry-long-text {
  font-style: italic;
  font-size: 12px;
  height: 155px;
  overflow: hidden;
  margin: 10px 0;
}

.entry-img {
  position: absolute;
  z-index: 0;
  bottom: 10px;
  right: 10px;
}

.btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #797676;
  background-color: #000000;
  margin: 10px 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #fdf252;
  text-align: center;
  cursor: pointer;
  border-radius: 14px;
}

.btn:hover {
  color: #FFFFFF;
  border-color: #fdf252;
}

.extras {
  text-align: center;
  color: #FFFFFF;
  padding: 20px 0;
}

.loader { 
  width: 100px;
  height: 100px;
}

